:root {
  --primary-color: #f1b7c0;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

body {
  text-align: center;
}

h2 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 40px;
}

.name {
  font-size: 80px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links a {
  padding: 20px 15px;
  border: solid 1px;
  border-color: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contact {
  background-color: var(--primary-color);
  color: white;
  margin: 20px;
  box-shadow: var(--box-shadow);
}

.about {
  border-color: var(--primary-color);
  color: var(--primary-color);
  margin: 20px;
  box-shadow: var(--box-shadow);
}

footer {
  margin-top: 60px;
}
